global
    daemon
    maxconn 256

defaults
    log global
    mode http
    option redispatch
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    option httpchk GET /health
    server server1 message_s_0:9007 maxconn 32 check inter 1000
    server server2 message_s_1:9008 maxconn 32 check inter 1000
    server server2 message_s_2:9009 maxconn 32 check inter 1000